<style>
#w-node-_1c74998a-768b-2da7-da41-58488397457b-87e29718{

    grid-template-columns: 1fr 1fr 1fr;

}

</style>
<div class="section footer">
    <div class="w-layout-grid footer">
        <div class="container">
            <div id="w-node-_1c74998a-768b-2da7-da41-58488397457b-87e29718" class="section-7 wf-section">
                <div class="links-section-footer">
                    <div class="label">Páginas</div><a href="/" aria-current="page" class="footer-link w--current">Inicio</a><a href="#" class="footer-link">Acerca de</a><a href="#" class="footer-link">Contacto</a>
                </div>
                <div class="links-section-footer">
                    <div class="label">Redes</div><a href="/" aria-current="page" class="footer-link w--current">Instagram</a><a href="#" class="footer-link">Facebook</a>
                </div>
                <div class="links-section-footer">
                    <div class="label">Legal</div><a href="#" class="footer-link">Política de privacidad</a><a href="#" class="footer-link">Términos y condiciones</a><a href="#" class="footer-link">Mapa Web</a>
                </div>

            </div>
            <div class="section-9 wf-section">
                <img src="" alt="">
                <span class="white">InstaTool 2023 ®</span>
            </div>
        </div>
    </div>
</div>